@inject TaskListServiceUi listService
@inject CategoryServiceUi categoryService
@using System.Text;
@using System.Text.Json;
@using DataLibrary.Models;
@using ToDoListWithUsersBlazor.Services;

<p class="text-danger">@errorMessage</p>
<EditForm Model="@category" OnValidSubmit="@Create">
    <DataAnnotationsValidator />
    <div class="form-group row">
        <div class="form-group col d-flex">
            <InputText placeholder="Title..." id="title" @bind-Value="category.Title" class="form-control" />
            <ValidationMessage For="@(() => category.Title)" />
        </div>
    </div>

    <br />

    <div class="form-group row">
        <div class="form-group col">
            <button type="submit" class="btn btn-success oi oi-plus" style="height: 40px; width: 40px"></button>
            <button type="reset" class="btn btn-outline-danger oi oi-trash" style="height: 40px; width: 40px"></button>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public EventCallback<List<TaskListModel>> OnCategoryCreated { get; set; }
    private CategoryModel category = new();
    private string errorMessage = "";

    public async Task Create()
    {
        try
        {
            await categoryService.CreateCategory(category);
        }
        catch (Exception)
        {
            errorMessage = "Category already exists.";
            return;
        }
        category = new();
        await OnCategoryCreated.InvokeAsync();
    }

}
