@inject TaskListServiceUi listService
@inject CategoryServiceUi categoryService
@using System.Text;
@using System.Text.Json;
@using DataLibrary.Models;
@using ToDoListWithUsersBlazor.Services;
@inject NavigationManager navigationManager

<div class="d-flex flex-wrap">
    @foreach (CategoryModel category in Categories)
    {
        @if (category.Title != "No category")
        {
            <div class="p-2 m-2 border-5 bg-success bg-opacity-50 rounded-3 d-flex flex-column justify-content-between gap-2 overflow-scroll" style="width: calc((100/3)*1% - 16px); height: 150px; scrollbar-width: none;">
                @if (!confirmDeleteCategory || tempCategory.Id != category.Id)
                {
                    <div class="d-flex w-100 justify-content-between">
                        <h4 class="mb-0 align-self-center" style="height: fit-content">@category.Title</h4>
                        <button @onclick="() => ToggleDelete(category)" class="btn btn-secondary oi oi-trash" style="height: 40px; width: 40px"></button>
                    </div>
                }
                else
                {
                    <div class="d-flex w-100 justify-content-between gap-2">
                        <p class="mb-0 align-self-center" style="height: fit-content">Are you sure?</p>
                        <button @onclick="() => Delete(category)" class="btn btn-outline-success oi oi-check" style="height: 40px; width: 40px"></button>
                        <button @onclick="() => ToggleDelete(category)" class="btn btn-outline-danger oi oi-x" style="height: 40px; width: 40px"></button>
                    </div>

                }

                <hr class="rounded-pill" style="height: 2px;" />

                <div>
                    <h6>Number of lists: @category.TaskLists.Count</h6>
                </div>
            </div>


        }
    }
</div>

@code {
    [Parameter]
    public EventCallback<List<TaskListModel>> OnCategoryDeleted { get; set; }

    [Parameter]
    public List<CategoryModel>? Categories { get; set; }

    private bool confirmDeleteCategory  = false;
    private CategoryModel tempCategory = new();
    public string errorMessage { get; set; } = "";

    public async void Delete(CategoryModel category)
    {
        try
        {
            await categoryService.DeleteCategory(category);
        }
        catch (Exception)
        {
            errorMessage = "Something went wrong with deleting the category.";
            return;
        }
        await OnCategoryDeleted.InvokeAsync();
    }

    public void ToggleDelete(CategoryModel category)
    {
        if (tempCategory.Id != category.Id)
        {
            tempCategory.Id = category.Id;
            confirmDeleteCategory = true;
            return;
        }

        confirmDeleteCategory = !confirmDeleteCategory;
        //StateHasChanged();
    }

}
