@using DataLibrary.Enums;
@using DataLibrary.Models;
@using ToDoListWithUsersBlazor.Services;
@inject UserServiceUi userService
@inject TaskListServiceUi listService

<div class="text-white d-flex gap-3">
    <span class="align-self-center">Sort</span>
    <EditForm Model="User">
    <div class="form-group col" style="width: 200px;">
        <InputSelect id="sort" @bind-Value="User.SortLists" class="form-control">
                @foreach (var sort in Enum.GetValues(typeof(SortLists)))
                {
                    <option @onclick="@UpdateSort" value="@sort">@sort</option>

                }
        </InputSelect>

    </div>
</EditForm>
</div>




@code {
    [Parameter]
    public EventCallback<List<TaskListModel>> OnSortChanged { get; set; }

    [Parameter]
    public UserModel User { get; set; }

    private SortLists sortLists;

    public async Task UpdateSort()
    {
        User = await userService.UpdateSort(User);
        await OnSortChanged.InvokeAsync();
    }
}
